* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: calc(100vh - 500px);
    width: calc(50vw + 150px);
    background: rebeccapurple;
}

a{
    text-align: center;
}